<ul class="meta-list list-inline">
  <li>
    <%= link_to(show_path(colour: colour.to_s)) do %>
    <div style="color: #<%= panel_colour %>; opacity: 0.50;">
      <span class="glyphicon glyphicon-link"></span>
      <span class=""><%= "https://cruller.herokuapp.com/show/#{colour}" %></span>
    </div>
    <% end %>
  </li>
</ul>
