/* line 1, /Users/karim/Code/cruller/lib/assets/stylesheets/typography.css.scss */
h1.anchor, h2.anchor, h3.anchor, h4.anchor {
  padding-top: 80px;
  margin-top: -80px;
}

/* line 6, /Users/karim/Code/cruller/lib/assets/stylesheets/typography.css.scss */
p {
  text-align: justify;
}

/* line 10, /Users/karim/Code/cruller/lib/assets/stylesheets/typography.css.scss */
.navbar-brand {
  font-family: "Dosis";
  font-size: 1.50em;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}

/* line 18, /Users/karim/Code/cruller/lib/assets/stylesheets/typography.css.scss */
.fancy {
  font-family: "Dosis";
}

/* line 22, /Users/karim/Code/cruller/lib/assets/stylesheets/typography.css.scss */
.giant {
  font-size: 3.00em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
}

/* line 29, /Users/karim/Code/cruller/lib/assets/stylesheets/typography.css.scss */
.popover div.small {
  word-break: break-all;
}

/* line 33, /Users/karim/Code/cruller/lib/assets/stylesheets/typography.css.scss */
.popover > .arrow {
  visibility: hidden;
}
