/* line 5, /Users/ksaid/Code/cruller/app/assets/stylesheets/welcome.scss */
.panel {
  margin-top: 250px;
  opacity: 0.30;
}

/* line 10, /Users/ksaid/Code/cruller/app/assets/stylesheets/welcome.scss */
.meta-panel {
  margin-top: 0;
}

/* line 14, /Users/ksaid/Code/cruller/app/assets/stylesheets/welcome.scss */
.panel a, .meta-list a {
  text-decoration: none;
}

/* line 18, /Users/ksaid/Code/cruller/app/assets/stylesheets/welcome.scss */
.jumbo {
  font-family: "Dosis";
}

/* line 22, /Users/ksaid/Code/cruller/app/assets/stylesheets/welcome.scss */
.jumbo-3 {
  font-size: 3.00vw;
}

/* line 26, /Users/ksaid/Code/cruller/app/assets/stylesheets/welcome.scss */
.jumbo-10 {
  font-size: 10.00vw;
}

/* line 30, /Users/ksaid/Code/cruller/app/assets/stylesheets/welcome.scss */
.color-meta {
  font-family: "Dosis";
  font-size: 5.00vw;
}

@media (min-width: 1200px) {
  /* line 36, /Users/ksaid/Code/cruller/app/assets/stylesheets/welcome.scss */
  .jumbo-10 {
    font-size: 100pt;
  }
}
