<%- view_title "##{@colour}" %>

<% content_for :main do %>
<style>
  body {
    background-color: #<%= @colour %>;
  }
</style>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <%= colour_panel(@colour, @panel_colour, @text_colour) %>
  </div>
  <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <%= meta_panel(@colour, @panel_colour, @text_colour) %>
  </div>
</div>
<% end %>
