<ul class="meta-list list-inline">
  <li>
    <%= link_to(show_path(color: color.to_s)) do %>
    <div style="color: #<%= panel_color %>; opacity: 0.50;">
      <span class="fa fa-link"></span>
      <span class=""><%= "https://cruller.herokuapp.com/#{color}" %></span>
    </div>
    <% end %>
  </li>
</ul>