<%- view_title "#ER404X" %>

<% content_for :main do %>
<style>
  body {
    background-color: #EEEEEE;
  }
</style>

<div class="row justify-content-center">
  <div class="col col-xs-12 col-md-8">
      <div class="card" style="background-color: #333333;">
          <%= link_to(root_path()) do %>
          <div class="card-body text-center" style="color: #EEEEEE;">
            <div class="jumbo jumbo-10">
              #ER404X
            </div>
            <div class="jumbo jumbo-3">
              <ul class="list-inline">
                <li class="list-inline-item">R: XXX</li>
                <li class="list-inline-item">G: XXX</li>
                <li class="list-inline-item">B: XXX</li>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
  </div>
  <div class="col col-xs-12 col-md-8">
    <ul class="meta-list list-inline">
      <li>
        <%= link_to(root_path()) do %>
        <div style="color: #333333; opacity: 0.50;">
          <span class="fa fa-link"></span>
          <span class=""><%= "https://cruller.herokuapp.com/" %></span>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<% end %>