<%- view_title "#ER404X" %>

<% content_for :main do %>
<style>
  body {
    background-color: #EEEEEE;
  }
</style>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-8 mx-auto">
      <div class="card">
        <%= link_to(root_path()) do %>
        <div class="card-body">
          <div>
            <h1 class="display-1 fancy">#ER404X</h1>
          </div>
          <div>
            <ul class="list-group list-group-horizontal-sm fancy">
              <li class="list-group-item flex-fill display-4">R: XXX</li>
              <li class="list-group-item flex-fill display-4">G: XXX</li>
              <li class="list-group-item flex-fill display-4">B: XXX</li>
            </ul>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-start">
    <div class="col-sm-8 mx-auto">
      <div class="meta fancy">
        <%= link_to(root_path()) do %>
        <div style="color: #333333; opacity: 0.50;">
          <span class="fa fa-link"></span>
          <span class=""><%= "https://cruller.herokuapp.com/" %></span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>