<%- view_title "##{@color}" %>

<% content_for :main do %>
<style>
  body {
    background-color: #<%= @color %>;
  }
</style>

<div class="row justify-content-center">
  <div class="col col-xs-12 col-md-8">
    <%= color_panel(@color, @panel_color, @text_color, root_path) %>
  </div>
  <div class="col col-xs-12 col-md-8">
    <%= meta_panel(@color, @panel_color, @text_color) %>
  </div>
</div>
<% end %>