// Place all the styles related to the colour controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  padding-top: 5.00em;
}

.card {
  opacity: 0.30;
}

.card a, .meta a {
  color: inherit;
  text-decoration: none;
}

.list-group li {
  border: none;
}

.fancy {
  font-family: "Nova Mono";
}